<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/util.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<title>매일매일 오늘의 뉴스</title>
</head>
<body>
	<div class="highlight"><a href="/subscription"><span>지금 가장 핫한 소식은? > 뉴스레터 구독하기</span></a></div>
	<header>
		<div class="logo">
			<a href="/index">
				<i class="fas fa-solid fa-paper-plane"></i>&nbsp
				<span>매일매일 오늘의 뉴스</span>
			</a>
		</div>
	</header>
	
	<div class="contents">
		<div class="content1">
			<img src="/images/content.png" alt="img-content-plain" />
			<h1>바쁜 아침, 주요 뉴스 소식을 한 눈에 확인할 수 있도록<br>
				매일매일 오늘의 뉴스가 보내드릴게요.
			</h1>
			<a href="/subscription">무료로 구독하기</a>
		</div>
		<div class="content2">
		</div>
	</div>
	<footer>
		<div class="footer-1">
		<div class="footer1-title">
			<i class="fas fa-solid fa-paper-plane"></i>&nbsp
			<span>매일매일 오늘의 뉴스</span>
		</div>
			<span class="txt_notice">매일매일 오늘의 뉴스 | 개발자 김연희 | 이메일 mouse97_@naver.com</span><br>
			<span class="txt_notice">Copyright © 2024, 매일매일 오늘의 뉴스. All rights reserved.</span>
			<span></span>
		</div>
		<div class="footer-2">
		
		</div>
	</footer>
</body>
</html>