<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<title>매일매일 오늘의 뉴스</title>
</head>
<body>
	<header>
		<div class="logo">
			<a href="/index">
				<i class="fas fa-solid fa-paper-plane"></i>&nbsp
				<span>매일매일 오늘의 뉴스</span>
			</a>
		</div>
	</header>
	
	<div class="contents">
		<div class="content1">
			<img src="/images/content.png" alt="img-content-plain" />
			<h1>바쁜 아침, 주요 뉴스 소식을 한 눈에 확인할 수 있도록<br>
				매일매일 오늘의 뉴스가 보내드릴게요.
			</h1>
			<!-- TODO : 구독 페이지로 이동하기 -->
			<a href="/subscription">무료로 구독하기</a>
		</div>
	</div>
	<footer></footer>
</body>
</html>